<html>
<h3> Nueva propiedad</h3>

<%=form_for @property do |f| %>
<div class="form-group">
    <%=f.label :nombre, 'Nombre'%>
    <%=f.text_field :nombre, class: 'form-control', placeholder: 'Ingrese el nombre de la propiedad'%>
  </div>

<% end %>
 </html> 