
<h1>Subastas adheridas</h1>
   



<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Puja actual</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction1s.each do |auction1| %>
      <tr>
        <td><%= auction1.nombre %></td>
        <td><%= auction1.puja %></td>
        <td><%= auction1.fechanew %></td>
       <td><form class="form-inline">
        <div class="form-group mb-2">
          <label for="staticEmail2" class="sr-only">Email</label>
          <input type="text" readonly class="form-control-plaintext" id="staticEmail2" >
         </div>
          <div class="form-group mx-sm-3 mb-2">
           <input type="ingrese puja" class="form-control" placeholder="ingrese puja">
          </div>
        <button type="submit" class="btn btn-primary mb-2">pujar</button>
        </form></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

