
<!DOCTYPE html>
<html>
<<<<<<< HEAD

=======
>>>>>>> 2f0c146271d9e858b47797c8a5dce4d43a02b38f
  <head>
    <title>HomeSwitchHome</title>
    <%= csrf_meta_tags %>

   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= config.session_store :my_custom_store %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
  </head>

<<<<<<< HEAD

=======
>>>>>>> 2f0c146271d9e858b47797c8a5dce4d43a02b38f
  <body>
    <%= yield %>
  </body>
</html>
